#root {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 2em
}

.card {
  padding: 2em;
}

.list {
  width: 300px;
  height: 500px;
  overflow: auto;
  padding: 1em;
  border: 1px solid #eaeaea;
  border-radius: 4px;
}

.item {
  position: relative;
  padding: 0.5em;
  margin: 0.2em;
  border: 1px solid #eaeaea;
  background-color: white;
  cursor: grab;
  display: flex;
  justify-content: center;
}
.item-id {
  position: absolute;
  top: 4px;
  left: 4px;
  font-size: 12px;
  opacity: .4;
}

.name {
  display: inline-block;
  position: relative;
}
.name:after, .name:before {
  position: absolute;
  content: '';
  display: block;
  top: -2px;
  right: -30px;
  width: 24px;
  height: 24px;
  background: url('/paw.png') no-repeat center center;
  background-size: contain;
}
.name:before {
  left: -30px;
  top: 2px
}

.dragging {
  opacity: 0.5;
  background-color: #eaeaea;
}

.paw {
  width: 24px;
  height: 24px;
}
